body {
  padding: 50px;
  background-color: #f0f0f0;
}
a {
  transform: scale(1);
  color: black;
  transition: transform 250ms linear;
}
a:hover,
a:focus {
  transform: scale(1.02);
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.search-form input[type='text'] {
  padding: 10px;
  width: 300px;
  border: 1px solid green;
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.search-form button[type='submit'] {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: 1px solid green;
  border-radius: 0 5px 5px 0;

  font-size: 16px;
  cursor: pointer;
}
.search-form button[type='submit']:disabled {
  background-color: grey;
  cursor: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.photo-card {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.gallery__link {
  display: block;
  text-decoration: none;
}

.card-img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f0f0f0;
}

.info-item {
  margin-bottom: 10px;
}

.info-item b {
  font-weight: bold;
}

.load-more {
  display: block;
  margin: 0 auto;

  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.is-hidden {
  display: none;
}
